body {
  @apply bg-gray-50 dark:bg-gray-950 text-black dark:text-[#f9f9f9] lg:dark:text-[#eee];
}

.max-w-screen-3xl {
  max-width: 1600px;
}

/* .custom-scrollbar::-webkit-scrollbar {
  width: 15px;
} */

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ea8d4b2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ea8d4b2 #f1f1f1;
}
/* 657ddb */
